config.stopBubbling = true

lombok.log.fieldName=LOG
lombok.accessors.fluent=false
lombok.accessors.chain=false

lombok.anyConstructor.addConstructorProperties=true

lombok.nonNull.exceptionType=Assertion

lombok.copyableannotations+=perobobbot.data.service.SecuredService
lombok.copyableannotations+=perobobbot.data.service.UnsecuredService
lombok.copyableannotations+=perobobbot.data.service.EventService
lombok.copyableannotations+=org.springframework.beans.factory.annotation.Value
