#* @vtlvariable name="plugin" type="perobobbot.server.plugin.template.PluginInfo" *#
package ${plugin.getPackageName()};

import jplugman.api.Version;
import jplugman.api.VersionedServiceClass;
import perobobbot.overlay.api.Overlay;
#foreach($service in ${plugin.getServices()})
import ${service.import};
#end

public class Versions {

    public static final Version APPLICATION_VERSION = Version.with("${plugin.applicationVersion}");

    #foreach($service in ${plugin.getServices()})
        public static final VersionedServiceClass<${service.simpleClassName}> ${service.variableName} = new VersionedServiceClass<>(${service.simpleClassName}.class,Version.with("${service.versionAsString}"));
    #end

}
