.login-hbox {
    -fx-alignment: CENTER;
    -fx-fill-height: false;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.login-hbox > .login-vbox {
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-alignment: CENTER;
    -fx-background-color: white;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 4, 4);
    -fx-fill-width: true;
}

.login-hbox * .button-bar {
    -fx-alignment: CENTER_RIGHT;
    -fx-spacing: 5;
}

.login-hbox * .button-bar > .button {
    -fx-background-color: linear-gradient(#0054ff, #001dbe);
    -fx-background-radius: 30;
    -fx-background-insets: 0;
    -fx-text-fill: white;
}

.login-hbox * .button-bar > .button:focused {
    -fx-effect: dropshadow( three-pass-box , rgba(0,84,255,0.8) , 2, 1 , 0 , 0);
}

