.theme-selector {
    -fx-padding: 5;
    -fx-spacing: 5;
    -fx-fill-width: true;
}

.theme-selector > .combo-box {
    -fx-pref-width: 150;
}

.theme-selector #applyThemeBQtton {
    -fx-alignment: right;
}
