package ${plugin.packageName};
#* @vtlvariable name="plugin" type="perobobbot.server.plugin.template.PluginInfo" *#


import lombok.NonNull;
import lombok.RequiredArgsConstructor;
import perobobbot.overlay.api.OverlayClient;
import perobobbot.overlay.api.OverlayIteration;
import perobobbot.rendering.ScreenSize;

@RequiredArgsConstructor
public class MyOverlayClient implements OverlayClient {

    private final @NonNull ScreenSize screenSize;


    @Override
    public void render(@NonNull OverlayIteration iteration) {
        iteration.getRenderer().fillCircle(
                screenSize.getWidth()*0.5,
                screenSize.getHeight()*0.5,
                screenSize.getMinLength()*0.1
        );
    }
}
