package ${plugin.packageName};
#* @vtlvariable name="plugin" type="perobobbot.server.plugin.template.PluginInfo" *#


import com.google.common.collect.ImmutableList;
import jplugman.annotation.Extension;
import jplugman.api.Disposable;
import lombok.Getter;
import lombok.NonNull;
import lombok.RequiredArgsConstructor;
import perobobbot.command.CommandDefinition;
import perobobbot.plugin.ExtensionPlugin;

@RequiredArgsConstructor
@Getter
@Extension(point = ExtensionPlugin.class, version = "1.0.0")
public class BotExtensionPlugin implements ExtensionPlugin, Disposable {

    private final @NonNull BotExtension extension;
    private final @NonNull ImmutableList<CommandDefinition> commandDefinitions;


    @Override
    public void dispose() {
        extension.stop();
    }
}
