package ${plugin.packageName};
#* @vtlvariable name="plugin" type="perobobbot.server.plugin.template.PluginInfo" *#


import lombok.NonNull;
import lombok.Synchronized;
import perobobbot.extension.OverlayExtension;
import perobobbot.overlay.api.Overlay;

public class BotExtension extends OverlayExtension {

    private volatile boolean started = false;

    public BotExtension(@NonNull Overlay overlay) {
        super("My Bot Extension", overlay);
    }

    @Synchronized
    public void start() {
        if (started) {
            return;
        }
        this.attachClient(new MyOverlayClient(getOverlaySize()));
        started = true;
    }

    @Synchronized
    public void stop() {
        if (!started) {
            return;
        }
        this.detachClient();
        started = false;
    }

}
