package ${plugin.packageName};
    #* @vtlvariable name="plugin" type="perobobbot.server.plugin.template.PluginInfo" *#
import com.google.common.collect.ImmutableSet;
import jplugman.api.Plugin;
import jplugman.api.Requirement;
import jplugman.api.ServiceProvider;
import lombok.NonNull;

public class MyPlugin implements Plugin<Object> {

    @Override
    public @NonNull ImmutableSet<Requirement<?>> getRequirements() {
        return ImmutableSet.of();
    }

    @Override
    public @NonNull Class<Object> getServiceClass() {
        throw new RuntimeException("TO IMPLEMENT");
    }

    @Override
    public @NonNull Object loadService(@NonNull ModuleLayer pluginLayer, @NonNull ServiceProvider serviceProvider) {
        throw new RuntimeException("TO IMPLEMENT");
    }
}
